<!-- Main Home Page Template  -->


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"  type="text/css" href="/main.css" />
        <title>Main Home Page</title>
    </head>



    <body>
        <!-- main heading -->
        <h1>EVENT MANAGER</h1>

        <!-- The "box" class is used to apply style.
            Additional in-line styling is used to set the background colour of the box -->

        <!-- link to organiser home page -->
        <div class = "box" style = "background-color: palevioletred">
            <h2><a href="/organiser">Organiser Home Page</a></h2>
        </div>

        <!-- link to attendee home page -->
        <div class = "box" style = "background-color: palevioletred">
            <h2><a href="/attendee">Attendee Home Page</a></h2>
        </div>
    </body>

</html>
    